.image img{
    width: 200px;
    height: 220px;
    padding: 5px;
}

.cart-container{
    display: flex;
    border: 1px solid rgb(112, 106, 106);
   
}

.btn{
    padding: 5px;
    border: 2px solid rgb(6, 49, 6);
    border-radius: 2px;
    background-color: rgb(6, 59, 6);
    color: white;
    cursor: pointer;
}
.fa-book{
    color: rgb(165, 238, 20);
    padding: 2px;
}